<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<app-pass-to-child [tasks]="activityList"></app-pass-to-child>
------------------------------------------------------------------
<app-task-list></app-task-list>
------------------------------------------------------------------
<app-data-binding></app-data-binding>
------------------------------------------------------------------
<app-test></app-test>
<app-wyswietlanie-danych></app-wyswietlanie-danych>
<app-dyrektywy></app-dyrektywy>


</body>
</html>
